@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.otf') format('otf');
    
    }

.img1 {
    margin-left: 80px;
    margin-top: 85px;
}

.div1 {
    width: 360px;
    font-family: Gilroy;
    font-weight: 900;
    font-size: 17.16px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    gap: 46px;

}

header {
    display: flex;
    justify-content: space-around;
}